@page "/weather"
@layout EmptyLayout
@inherits MvvmComponentBase<WeatherViewModel>

<div style="background-image: url(/Assets/Images/Photos/weatherImage.png); margin: 0; padding: 0; background-size:cover; height: 100vh;">
    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center">
        <MudPaper Class="mt-8 mb-8 rounded-xl" Style="width: 80vw; height: 90vh;" Outlined="true">
            <MudGrid>
                <MudItem xs="2" Class="d-flex justify-center align-center">
                    <MudIconButton Class="mud-width-full my-4" Color="Color.Secondary" Icon="@Icons.Material.Filled.ArrowBack" Href="/more"></MudIconButton>
                </MudItem>
                <MudItem xs="8" Class="d-flex justify-start align-center">
                    <MudSelect T="int?" Label="Wybierz miasto" Variant="Variant.Outlined" @bind-Value="ViewModel.SelectedCityId" OnOpen="ViewModel.LoadCities()" ToStringFunc="ViewModel.GetCityText">
                        @if (ViewModel.Cities.Any())
                        {
                            @foreach (var item in ViewModel.Cities)
                            {
                                <MudSelectItem T="int?" Value="@item.IdCity">@item.CityName</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2" Class="d-flex justify-center align-center">
                    <MudIconButton Class="mud-width-full my-4" Color="Color.Secondary" Icon="@Icons.Material.Filled.Search" OnClick="ViewModel.LoadWeather()"></MudIconButton>
                </MudItem>
            </MudGrid>
            @if (ViewModel.WeatherData != null)
            {
                @foreach (var item in ViewModel.WeatherData.list)
                {
                    @if (item.dt_txt.Hour == 12)
                    {
                        <MudStack>
                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <img width="50" height="50" src="@ViewModel.WeatherService.GetWeatherIcon(item.weather[0].icon)" />
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudGrid>
                                            <MudItem xs="6" Class="d-flex justify-start align-center">
                                                <MudStack>
                                                    <MudText Typo="Typo.body1">@item.weather[0].main</MudText>
                                                    <MudText Typo="Typo.body2">@ViewModel.WeatherData.city.name</MudText>
                                                </MudStack>
                                            </MudItem>
                                            <MudItem xs="6" Class="d-flex justify-center align-center">
                                                <MudStack>

                                                    <MudText Typo="Typo.body1">@ViewModel.WeatherService.ConvertToC(item.main.temp)</MudText>
                                                    <MudText Typo="Typo.body2">@item.dt_txt.ToShortDateString()</MudText>
                                                </MudStack>

                                            </MudItem>
                                        </MudGrid>
                                    </CardHeaderContent>
                                </MudCardHeader>
                            </MudCard>
                        </MudStack>
                    }
                }
            }
        </MudPaper>
    </MudContainer>
</div>

@code {
}
