@model BiuroPodrozy.Intranet.ModelsForView.DetailsInfoViewModel<BiuroPodrozy.Data.CityDTO>
@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Miasto - Szczegóły</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Population)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Population)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CountryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.CountryName)
        </dd>
    </dl>
    <hr />
</div>
